@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
 
.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh
    

}

.header-villian-wrap {
    background-color: rgb(4, 36, 78);
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 10px;
}

.header-logo {
    height: 50px;
    width: auto;

}

.header-links {
    display:flex;
    list-style-type: none;
    margin:0;
    padding: 0;
    gap: 10px;
}

.header-links a {
    color:white;
    text-decoration: none;
}

.villian {
    display:flex;
    justify-content: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;

}

.card {
    align-self: center;
    margin-right: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
    padding: 0;
    margin: 0;

}

