@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
 
.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh
    

}

.header-villian-wrap {
    background-color: rgb(16, 17, 95);
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 10px;
}